<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BleSampleApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BD9EDC81DE187F7007679BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD9EDDC1DE187F7007679BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD9EDE71DE187F7007679BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
